- var href = 'javascript:void(0)';
- var wrapClass = null;
- var path = 'http://amlinsky.eu';
block vars
include mixins/_all-mixins

doctype html
html
	head
		meta(charset='utf-8')
		title Amlinsky Creative Strategies
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='shortcut icon', href='favicon.ico')
		link(href=path+'/pc/css/8c536.css', media='all', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='styles/style.css')
		script(type='text/javascript', src=path+'/pc/js/d337b.js')
		script(src="plugins/delete-me.js")
		script(src="scripts/new.js")
		include blocks/_zingaya-script

		block style
		block script

	body
		.wrapper(class=wrapClass)
			.wrapper-inner
				include blocks/_header
				.middle
					.container
						.container-sh
							block content
					aside.left-sidebar
						.left-menu
							block sidebar