extends _layout
block content
	.content
		.block.w6_h3
			.page-content
				a.news.with-anim(href=path+'/news') NEWS
			.news-list
				.news-item
					a.with-anim(href=path+'/news/2015/11/06/andrey-v-efire')
						span.date 06.11
						strong Андрей Амлинский в прямом эфире
						br
						| 		Общественное телевидение России, рубрика "Сделано в России", Андрей Амлинский
				.news-item
					a.with-anim(href=path+'/news/2015/10/27/k-dnyu-v-rossii')
						span.date 27.10
						strong Интервью Андрея Амлинского кo дню рекламы в России
						br
				.news-item
					a.with-anim(href=path+'/news/2015/10/24/andreya-v-shkole')
						span.date 24.10
						strong Лекция Андрея Амлинского в школе Родченко
						br
						| 		Лекция Андрея Амлинского на мульти-медийном факультете школы Родченко.
				.news-item
					a.with-anim(href=path+'/news/2015/10/12/smart-forum-2')
						span.date 12.10
						strong Мы провели второй Smart-Forum в Берлине
						br
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-bork-u800')
					img(src=path+'/pc/portfolio_pic/p_02.png?1400590142', alt='Ролик BORK. Мультишеф U800')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик BORK. Мультишеф U800
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-bork-ot-bork')
					img(src=path+'/pc/portfolio_pic/p_456000614_960.jpg?1400590143', alt='Ролик BORK. Новая роскошь от BORK')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик BORK. Новая роскошь от BORK
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-mts-blizhe')
					img(src=path+'/pc/portfolio_pic/p_455906243_640.jpg?1400590143', alt='Ролик MTS. Далекие страны станут ближе')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик MTS. Далекие страны станут ближе
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-pozvol-sebe-2')
					img(src=path+'/pc/portfolio_pic/p_454690158_640.jpg?1400590143', alt='Ролик ТЕХНОСИЛА. Позволь себе мечтать 2')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик ТЕХНОСИЛА. Позволь себе мечтать 2
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/il-patio-kak-eto-v')
					img(src=path+'/pc/portfolio_pic/p_454679955_640.jpg?1400590143', alt=' Ролик Il Patio. Как это делается в Милане')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='')  Ролик Il Patio. Как это делается в Милане
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/sokoc-krome-soka')
					img(src=path+'/pc/portfolio_pic/p_455765530_640.jpg?1400590143', alt='Ролик СOKOC. Ничего кроме сока (Пляж)')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик СOKOC. Ничего кроме сока (Пляж)
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/il-patio-kak-eto-na')
					img(src=path+'/pc/portfolio_pic/p_12-03-v-18-48-24.png?1400590143', alt='Ролик Il Patio. Как это делается на Сицилии')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик Il Patio. Как это делается на Сицилии
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-pozvol-sebe')
					img(src=path+'/pc/portfolio_pic/p_454690117_640.jpg?1400590144', alt='Ролик ТЕХНОСИЛА. Позволь себе мечтать')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик ТЕХНОСИЛА. Позволь себе мечтать
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/a-eto-vam-tetya')
					img(src=path+'/pc/portfolio_pic/p_454689745_640.jpg?1400590144', alt='Ролик ТЕХНОСИЛА. А это вам, тетя')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик ТЕХНОСИЛА. А это вам, тетя
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/bork-igray-do-kapli')
					img(src=path+'/pc/portfolio_pic/p_12-03-v-19-21-29.png?1400590144', alt='Ролик BORK. Играй до последней капли')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик BORK. Играй до последней капли
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/bork-boley-do-kapli')
					img(src=path+'/pc/portfolio_pic/p_12-03-v-19-24-53.png?1400590144', alt='Ролик BORK. Болей до последней капли')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик BORK. Болей до последней капли
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/vodka-flagman')
					img(src=path+'/pc/portfolio_pic/p_xnn6n25r.jpg?1400657616', alt='Водка «Флагман»')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Водка «Флагман»
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/moloko-burenka')
					img(src=path+'/pc/portfolio_pic/p_qgvbu81f.jpg?1400657617', alt='Молоко «Кубанская буренка»')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Молоко «Кубанская буренка»
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-zoloto-nashey')
					img(src=path+'/pc/portfolio_pic/p_cp8d5r9a.jpg?1400657617', alt='Ролик «Золотая бочка». Золото нашей победы')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик «Золотая бочка». Золото нашей победы
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-snickers-bike')
					img(src=path+'/pc/portfolio_pic/p_jes3g0ml.jpg?1400629475', alt='Ролик SNICKERS. Bike')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик SNICKERS. Bike
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-morzhi')
					img(src=path+'/pc/portfolio_pic/p_m6ib0aho.jpg?1400629475', alt='Ролик SNICKERS. МОРЖИ')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик SNICKERS. МОРЖИ
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-ping-pong')
					img(src=path+'/pc/portfolio_pic/p_6wuye17b.jpg?1400629475', alt='Ролик SNICKERS. Ping Pong')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик SNICKERS. Ping Pong
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-snowball')
					img(src=path+'/pc/portfolio_pic/p_fspk47jr.jpg?1400629475', alt='Ролик SNICKERS. Snowball')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик SNICKERS. Snowball
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/02')
					img(src=path+'/pc/portfolio_pic/p_xac29vfv.jpg?1400629475', alt='Ролик SNICKERS. Roller. Сникерсни по черному! (Колесо)')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик SNICKERS. Roller. Сникерсни по черному! (Колесо)
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-roller-po')
					img(src=path+'/pc/portfolio_pic/p_455906933_640.jpg?1400629475', alt='Ролик SNICKERS. Roller. Сникерсни по черному!')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик SNICKERS. Roller. Сникерсни по черному!
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-nado-byilo')
					img(src=path+'/pc/portfolio_pic/p_3qbcctgd.jpg?1400657617', alt='Ролик «Надо было ставить Clifford»')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик «Надо было ставить Clifford»
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/8-marta-babyi-tayut')
					img(src=path+'/pc/portfolio_pic/p_zo96xhds.jpg?1400602750', alt='Ролик Эльдорадо. 8 марта бабы тают')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик Эльдорадо. 8 марта бабы тают
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-eldorado')
					img(src=path+'/pc/portfolio_pic/p_3ddcl6hl.jpg?1400602750', alt='Ролик Эльдорадо. Супергерои')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик Эльдорадо. Супергерои
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/rolik-ruki-na-tsenah')
					img(src=path+'/pc/portfolio_pic/p_cnuv18i9.jpg?1400602750', alt='Ролик Эльдорадо. Погрей руки на низких ценах')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик Эльдорадо. Погрей руки на низких ценах
				.port-arhive
					strong архив
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/sokoc-krome-soka1')
					img(src=path+'/pc/portfolio_pic/p_12-03-v-19-06-55.png?1400590145', alt='Ролик СOKOC. Ничего кроме сока (Собачки)')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик СOKOC. Ничего кроме сока (Собачки)
		.block.w3_h3.clicable
			.main
				a.clicked(href=path+'/portfolio/video/il-patio-kak-eto-vo')
					img(src=path+'/pc/portfolio_pic/p_12-03-v-18-35-41.png?1400590145', alt='Ролик Il Patio. Как это делается во Флоренции')
				.bg-video
			.alternative
				.page-content
					h1
						a.clicked(href='') Ролик Il Patio. Как это делается во Флоренции
block sidebar