- var path = "http://amlinsky.eu";
doctype html
html
	head
		link(rel='shortcut icon', href='favicon.ico')
		meta(charset='utf-8')
		title Amlinsky Creative Strategies
		link(href=path+'/pc/css/8c536.css', media='all', rel='stylesheet', type='text/css')
		script(type='text/javascript', src=path+'/pc/js/d337b.js')
		script.
			var ZingayaConfig = {"buttonLabel":"Позвонить Онлайн","labelColor":"#13487f","labelFontSize":15,"labelTextDecoration":"none","labelFontWeight":"bold","labelShadowDirection":"bottom","labelShadowColor":"#8fd3ec","labelShadow":0,"buttonBackgroundColor":"#68c3f0","buttonGradientColor1":"#68c3f0","buttonGradientColor2":"#5bbaee","buttonGradientColor3":"#5fbdef","buttonGradientColor4":"#62bfef","buttonShadow":"true","buttonHoverBackgroundColor":"#69ad26","buttonHoverGradientColor1":"#30b3f1","buttonHoverGradientColor2":"#2aa8ef","buttonHoverGradientColor3":"#2cacf0","buttonHoverGradientColor4":"#2daef0","buttonActiveShadowColor1":"","buttonActiveShadowColor2":"","buttonCornerRadius":2,"buttonPadding":10,"iconColor":"#ffffff","iconOpacity":1,"iconDropShadow":0,"iconShadowColor":"#13487f","iconShadowDirection":"bottom","iconShadowOpacity":0.5,"callme_id":"c870043bf4cf4072b8628ecd84f77d30","poll_id":null,"analytics_id":null,"type":"widget","widgetPosition":"right","save":1};
			(function(d, t) {
			var g = d.createElement(t),s = d.getElementsByTagName(t)[0];g.src = '//d1bvayotk7lhk7.cloudfront.net/js/zingayabutton.js';g.async = 'true';
			g.onload = g.onreadystatechange = function() {
			if (this.readyState && this.readyState != 'complete' && this.readyState != 'loaded') return;
			try {Zingaya.load(ZingayaConfig, 'zingayac870043bf4cf4072b8628ecd84f77d30'); if (!Zingaya.SVG()) {
			var p = d.createElement(t);p.src=path+'//d1bvayotk7lhk7.cloudfront.net/PIE.js';p.async='true';s.parentNode.insertBefore(p, s);
			p.onload = p.onreadystatechange = function() {
			if (this.readyState && this.readyState != 'complete' && this.readyState != 'loaded') return;
			if (window.PIE) PIE.attach(document.getElementById("zingayaButton"+ZingayaConfig.callme_id));
			}}} catch (e) {}};
			s.parentNode.insertBefore(g, s);
			}(document, 'script'));
	body
		.wrapper
			.wrapper-inner
				header.header
					.block.w2_h2
						.main
							a.clicked(href=path+'/')
								img(src=path+'/img/logo.jpg')
						.alternative
							a.clicked(href=path+'/')
								img(src=path+'/img/logo_2.jpg')
					.block.w2_h2.menu-top
						.main
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/strategies') Стратегии
								.vm-helper
						.alternative
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/strategies') Стратегии
								.vm-helper
					.block.w2_h2.menu-top
						.main
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/portfolio/arhive') Легендарная реклама
								.vm-helper
						.alternative
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/portfolio/arhive') Легендарная реклама
								.vm-helper
					.block.w2_h2.menu-top
						.main
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/page/history') О нас
								.vm-helper
						.alternative
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/page/history') О нас
								.vm-helper
					.block.w2_h2.menu-top
						.main
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/portfolio/brand') Бренды
								.vm-helper
						.alternative
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/portfolio/brand') Бренды
								.vm-helper
					.block.w2_h2.menu-top
						.main
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/portfolio/video') Портфолио
								.vm-helper
						.alternative
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/portfolio/video') Портфолио
								.vm-helper
					.block.w2_h2.menu-top
						.main
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/team') Команда
								.vm-helper
						.alternative
							.vm-parent
								.vm-child
									.vm-content
										a.clicked(href=path+'/team') Команда
								.vm-helper
					.blocked.w2_h2_b
						.block.w2_h1.menu-top
							.main
								.vm-parent
									.vm-child
										.vm-content
											a.clicked(href=path+'/page/contact') Контакты
									.vm-helper
							.alternative
								.vm-parent
									.vm-child
										.vm-content
											a.clicked(href=path+'/page/contact') Контакты
									.vm-helper
						.block.menu-top
							.main
								a.clicked(target='_blank', href='https://www.facebook.com/amlinsky.eu')
									img(src=path+'/img/face_book_01.png')
							.alternative
								a.clicked(target='_blank', href='https://www.facebook.com/amlinsky.eu')
									img(src=path+'/img/face_book_02.png')
						.block.menu-top
							.main
								a.clicked(target='_blank', href='http://vimeo.com/user22537440')
									img(src=path+'/img/vimeo_01.png')
							.alternative
								a.clicked(target='_blank', href='http://vimeo.com/user22537440')
									img(src=path+'/img/vimeo_02.png')
				.middle
					.container
						.container-sh
							.content
								.block.w6_h3
									.page-content
										a.news.with-anim(href=path+'/news') NEWS
									.news-list
										.news-item
											a.with-anim(href=path+'/news/2015/11/06/andrey-v-efire')
												span.date 06.11
												strong Андрей Амлинский в прямом эфире
												br
												| 		Общественное телевидение России, рубрика "Сделано в России", Андрей Амлинский
										.news-item
											a.with-anim(href=path+'/news/2015/10/27/k-dnyu-v-rossii')
												span.date 27.10
												strong Интервью Андрея Амлинского кo дню рекламы в России
												br
										.news-item
											a.with-anim(href=path+'/news/2015/10/24/andreya-v-shkole')
												span.date 24.10
												strong Лекция Андрея Амлинского в школе Родченко
												br
												| 		Лекция Андрея Амлинского на мульти-медийном факультете школы Родченко.
										.news-item
											a.with-anim(href=path+'/news/2015/10/12/smart-forum-2')
												span.date 12.10
												strong Мы провели второй Smart-Forum в Берлине
												br
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-bork-u800')
											img(src=path+'/pc/portfolio_pic/p_02.png?1400590142', alt='Ролик BORK. Мультишеф U800')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик BORK. Мультишеф U800
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-bork-ot-bork')
											img(src=path+'/pc/portfolio_pic/p_456000614_960.jpg?1400590143', alt='Ролик BORK. Новая роскошь от BORK')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик BORK. Новая роскошь от BORK
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-mts-blizhe')
											img(src=path+'/pc/portfolio_pic/p_455906243_640.jpg?1400590143', alt='Ролик MTS. Далекие страны станут ближе')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик MTS. Далекие страны станут ближе
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-pozvol-sebe-2')
											img(src=path+'/pc/portfolio_pic/p_454690158_640.jpg?1400590143', alt='Ролик ТЕХНОСИЛА. Позволь себе мечтать 2')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик ТЕХНОСИЛА. Позволь себе мечтать 2
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/il-patio-kak-eto-v')
											img(src=path+'/pc/portfolio_pic/p_454679955_640.jpg?1400590143', alt=' Ролик Il Patio. Как это делается в Милане')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='')  Ролик Il Patio. Как это делается в Милане
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/sokoc-krome-soka')
											img(src=path+'/pc/portfolio_pic/p_455765530_640.jpg?1400590143', alt='Ролик СOKOC. Ничего кроме сока (Пляж)')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик СOKOC. Ничего кроме сока (Пляж)
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/il-patio-kak-eto-na')
											img(src=path+'/pc/portfolio_pic/p_12-03-v-18-48-24.png?1400590143', alt='Ролик Il Patio. Как это делается на Сицилии')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик Il Patio. Как это делается на Сицилии
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-pozvol-sebe')
											img(src=path+'/pc/portfolio_pic/p_454690117_640.jpg?1400590144', alt='Ролик ТЕХНОСИЛА. Позволь себе мечтать')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик ТЕХНОСИЛА. Позволь себе мечтать
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/a-eto-vam-tetya')
											img(src=path+'/pc/portfolio_pic/p_454689745_640.jpg?1400590144', alt='Ролик ТЕХНОСИЛА. А это вам, тетя')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик ТЕХНОСИЛА. А это вам, тетя
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/bork-igray-do-kapli')
											img(src=path+'/pc/portfolio_pic/p_12-03-v-19-21-29.png?1400590144', alt='Ролик BORK. Играй до последней капли')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик BORK. Играй до последней капли
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/bork-boley-do-kapli')
											img(src=path+'/pc/portfolio_pic/p_12-03-v-19-24-53.png?1400590144', alt='Ролик BORK. Болей до последней капли')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик BORK. Болей до последней капли
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/vodka-flagman')
											img(src=path+'/pc/portfolio_pic/p_xnn6n25r.jpg?1400657616', alt='Водка «Флагман»')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Водка «Флагман»
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/moloko-burenka')
											img(src=path+'/pc/portfolio_pic/p_qgvbu81f.jpg?1400657617', alt='Молоко «Кубанская буренка»')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Молоко «Кубанская буренка»
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-zoloto-nashey')
											img(src=path+'/pc/portfolio_pic/p_cp8d5r9a.jpg?1400657617', alt='Ролик «Золотая бочка». Золото нашей победы')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик «Золотая бочка». Золото нашей победы
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-snickers-bike')
											img(src=path+'/pc/portfolio_pic/p_jes3g0ml.jpg?1400629475', alt='Ролик SNICKERS. Bike')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик SNICKERS. Bike
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-morzhi')
											img(src=path+'/pc/portfolio_pic/p_m6ib0aho.jpg?1400629475', alt='Ролик SNICKERS. МОРЖИ')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик SNICKERS. МОРЖИ
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-ping-pong')
											img(src=path+'/pc/portfolio_pic/p_6wuye17b.jpg?1400629475', alt='Ролик SNICKERS. Ping Pong')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик SNICKERS. Ping Pong
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-snowball')
											img(src=path+'/pc/portfolio_pic/p_fspk47jr.jpg?1400629475', alt='Ролик SNICKERS. Snowball')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик SNICKERS. Snowball
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/02')
											img(src=path+'/pc/portfolio_pic/p_xac29vfv.jpg?1400629475', alt='Ролик SNICKERS. Roller. Сникерсни по черному! (Колесо)')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик SNICKERS. Roller. Сникерсни по черному! (Колесо)
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-roller-po')
											img(src=path+'/pc/portfolio_pic/p_455906933_640.jpg?1400629475', alt='Ролик SNICKERS. Roller. Сникерсни по черному!')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик SNICKERS. Roller. Сникерсни по черному!
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-nado-byilo')
											img(src=path+'/pc/portfolio_pic/p_3qbcctgd.jpg?1400657617', alt='Ролик «Надо было ставить Clifford»')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик «Надо было ставить Clifford»
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/8-marta-babyi-tayut')
											img(src=path+'/pc/portfolio_pic/p_zo96xhds.jpg?1400602750', alt='Ролик Эльдорадо. 8 марта бабы тают')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик Эльдорадо. 8 марта бабы тают
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-eldorado')
											img(src=path+'/pc/portfolio_pic/p_3ddcl6hl.jpg?1400602750', alt='Ролик Эльдорадо. Супергерои')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик Эльдорадо. Супергерои
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/rolik-ruki-na-tsenah')
											img(src=path+'/pc/portfolio_pic/p_cnuv18i9.jpg?1400602750', alt='Ролик Эльдорадо. Погрей руки на низких ценах')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик Эльдорадо. Погрей руки на низких ценах
										.port-arhive
											strong архив
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/sokoc-krome-soka1')
											img(src=path+'/pc/portfolio_pic/p_12-03-v-19-06-55.png?1400590145', alt='Ролик СOKOC. Ничего кроме сока (Собачки)')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик СOKOC. Ничего кроме сока (Собачки)
								.block.w3_h3.clicable
									.main
										a.clicked(href=path+'/portfolio/video/il-patio-kak-eto-vo')
											img(src=path+'/pc/portfolio_pic/p_12-03-v-18-35-41.png?1400590145', alt='Ролик Il Patio. Как это делается во Флоренции')
										.bg-video
									.alternative
										.page-content
											h1
												a.clicked(href='') Ролик Il Patio. Как это делается во Флоренции
					aside.left-sidebar
						.left-menu
