@font-face {
    font-family: 'MuseoSansCyrl-100';
    src: url('../webfonts/258202_0_0.eot');
    src:
    url('../webfonts/258202_0_0.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/258202_0_0.woff') format('woff'),
    url('../webfonts/258202_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansCyrl-300Italic';
    src: url('../webfonts/258202_1_0.eot');
    src:
    url('../webfonts/258202_1_0.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/258202_1_0.woff') format('woff'),
    url('../webfonts/258202_1_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansCyrl-300';
    src: url('../webfonts/258202_2_0.eot');
    src:
    url('../webfonts/258202_2_0.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/258202_2_0.woff') format('woff'),
    url('../webfonts/258202_2_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansCyrl-500Italic';
    src: url('../webfonts/258202_3_0.eot');
    src:
    url('../webfonts/258202_3_0.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/258202_3_0.woff') format('woff'),
    url('../webfonts/258202_3_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('../webfonts/258202_4_0.eot');
    src:
    url('../webfonts/258202_4_0.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/258202_4_0.woff') format('woff'),
    url('../webfonts/258202_4_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansCyrl-700Italic';
    src: url('../webfonts/258202_5_0.eot');
    src:
    url('../webfonts/258202_5_0.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/258202_5_0.woff') format('woff'),
    url('../webfonts/258202_5_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansCyrl-700';
    src: url('../webfonts/258202_6_0.eot');
    src:
    url('../webfonts/258202_6_0.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/258202_6_0.woff') format('woff'),
    url('../webfonts/258202_6_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansCyrl-900Italic';
    src: url('../webfonts/258202_7_0.eot');
    src:
    url('../webfonts/258202_7_0.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/258202_7_0.woff') format('woff'),
    url('../webfonts/258202_7_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansCyrl-900';
    src: url('../webfonts/258202_8_0.eot');
    src:
    url('../webfonts/258202_8_0.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/258202_8_0.woff') format('woff'),
    url('../webfonts/258202_8_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MuseoSansCyrl-100Italic';
    src: url('../webfonts/258202_9_0.eot');
    src:
    url('../webfonts/258202_9_0.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/258202_9_0.woff') format('woff'),
    url('../webfonts/258202_9_0.ttf') format('truetype');
}
