%link-clicker{
	@include link-clicker;
}
%clearfix {
	*zoom: 1;
	&:after {
		content: '';
		display: table;
		line-height: 0;
		clear: both;
	}
}

%btn-style{
	@extend %link-clicker;
	display: inline-block;
	border: none;
	border-radius: $radius;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

%zeroFont{
	font-family: $zeroFont;
}
%baseFont{
	font-family: $baseFont;
}