header.header
	.block.w2_h2
		.main
			a.clicked(href=path+'/')
				img(src=path+'/img/logo.jpg')
		.alternative
			a.clicked(href=path+'/')
				img(src=path+'/img/logo_2.jpg')
	.block.w2_h2.menu-top
		.main
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/strategies') Стратегии
				.vm-helper
		.alternative
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/strategies') Стратегии
				.vm-helper
	.block.w2_h2.menu-top
		.main
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/portfolio/arhive') Легендарная реклама
				.vm-helper
		.alternative
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/portfolio/arhive') Легендарная реклама
				.vm-helper
	.block.w2_h2.menu-top
		.main
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/page/history') О нас
				.vm-helper
		.alternative
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/page/history') О нас
				.vm-helper
	.block.w2_h2.menu-top
		.main
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/portfolio/brand') Бренды
				.vm-helper
		.alternative
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/portfolio/brand') Бренды
				.vm-helper
	.block.w2_h2.menu-top
		.main
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/portfolio/video') Портфолио
				.vm-helper
		.alternative
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/portfolio/video') Портфолио
				.vm-helper
	.block.w2_h2.menu-top
		.main
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/team') Команда
				.vm-helper
		.alternative
			.vm-parent
				.vm-child
					.vm-content
						a.clicked(href=path+'/team') Команда
				.vm-helper
	.blocked.w2_h2_b
		.block.w2_h1.menu-top
			.main
				.vm-parent
					.vm-child
						.vm-content
							a.clicked(href=path+'/page/contact') Контакты
					.vm-helper
			.alternative
				.vm-parent
					.vm-child
						.vm-content
							a.clicked(href=path+'/page/contact') Контакты
					.vm-helper
		.block.menu-top
			.main
				a.clicked(target='_blank', href='https://www.facebook.com/amlinsky.eu')
					img(src=path+'/img/face_book_01.png')
			.alternative
				a.clicked(target='_blank', href='https://www.facebook.com/amlinsky.eu')
					img(src=path+'/img/face_book_02.png')
		.block.menu-top
			.main
				a.clicked(target='_blank', href='http://vimeo.com/user22537440')
					img(src=path+'/img/vimeo_01.png')
			.alternative
				a.clicked(target='_blank', href='http://vimeo.com/user22537440')
					img(src=path+'/img/vimeo_02.png')
