script.
	var ZingayaConfig = {"buttonLabel":"Позвонить Онлайн","labelColor":"#13487f","labelFontSize":15,"labelTextDecoration":"none","labelFontWeight":"bold","labelShadowDirection":"bottom","labelShadowColor":"#8fd3ec","labelShadow":0,"buttonBackgroundColor":"#68c3f0","buttonGradientColor1":"#68c3f0","buttonGradientColor2":"#5bbaee","buttonGradientColor3":"#5fbdef","buttonGradientColor4":"#62bfef","buttonShadow":"true","buttonHoverBackgroundColor":"#69ad26","buttonHoverGradientColor1":"#30b3f1","buttonHoverGradientColor2":"#2aa8ef","buttonHoverGradientColor3":"#2cacf0","buttonHoverGradientColor4":"#2daef0","buttonActiveShadowColor1":"","buttonActiveShadowColor2":"","buttonCornerRadius":2,"buttonPadding":10,"iconColor":"#ffffff","iconOpacity":1,"iconDropShadow":0,"iconShadowColor":"#13487f","iconShadowDirection":"bottom","iconShadowOpacity":0.5,"callme_id":"c870043bf4cf4072b8628ecd84f77d30","poll_id":null,"analytics_id":null,"type":"widget","widgetPosition":"right","save":1};
	(function(d, t) {
	var g = d.createElement(t),s = d.getElementsByTagName(t)[0];g.src = '//d1bvayotk7lhk7.cloudfront.net/js/zingayabutton.js';g.async = 'true';
	g.onload = g.onreadystatechange = function() {
	if (this.readyState && this.readyState != 'complete' && this.readyState != 'loaded') return;
	try {Zingaya.load(ZingayaConfig, 'zingayac870043bf4cf4072b8628ecd84f77d30'); if (!Zingaya.SVG()) {
	var p = d.createElement(t);p.src=path+'//d1bvayotk7lhk7.cloudfront.net/PIE.js';p.async='true';s.parentNode.insertBefore(p, s);
	p.onload = p.onreadystatechange = function() {
	if (this.readyState && this.readyState != 'complete' && this.readyState != 'loaded') return;
	if (window.PIE) PIE.attach(document.getElementById("zingayaButton"+ZingayaConfig.callme_id));
	}}} catch (e) {}};
	s.parentNode.insertBefore(g, s);
	}(document, 'script'));
